{% extends 'base_pages.html.twig' %}

{% block body %}
    <h2 class="text-center" style="color:#262626">    
        <i class="fas fa-caret-right" style="color:#DA2525;"></i> E-commerce : boutique, pdf & vidéo
    </h2>
    
        <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top:70px;margin-left:4%;">
            {% for artecommerce in artecommerce %}
            <div class="col" style="width:460px;">
              <div class="card h-100" style="margin-left:3%;border:solid 2px #262626;">
                <div class="card-body">
                    <a href="{{ path('ecommerce.showone', {id:artecommerce.id}) }}" style="color:#262626;">
                        <h5 class="card-title">
                            <i class="fas fa-caret-right" style="color:#DA2525"></i> {{ artecommerce.titre }}
                        </h5>
                        <p class="card-text">
                          {{ artecommerce.description }}
                        </p>
                    </a>
                </div>
                          <a style="color:#DA2525;text-align:right;margin-right:40px;">{{ artecommerce.auteur }}</a><br>
              </div>
            </div>
            {% endfor %}
        </div>
        
        <br><br><br>
            
                
                    
{% endblock %}