{% extends 'base_pages.html.twig' %}

{% block body %}
    <h2 class="text-center">    
        {% for rubrique in rubriques %}
            {{ rubrique.nom }}
        {% endfor %}
    </h2>
{% endblock %}