{% extends "base_article.html.twig" %}


{% block body %}
    <a href="{{ path('reseauxsociaux') }}" style="margin-left:1%;">
        <button class="btn btn-light">
            <i class="fas fa-long-arrow-alt-left fa-2x" style="color:#DA2525;"></i>
        </button>
    </a>
    <h2 class="text-center" style="color:#262626;margin-top:75px;">
        <i class="fas fa-caret-right" style="color:#DA2525"></i> {{ artreseauxsociaux.titre }}
    </h2>
    <h5 class="text-center" style="color:#DA2525;font-style:italic;font-size: 17px;">publié par {{ artreseauxsociaux.auteur }}</h5>
    
    <p style="margin-top:100px;margin-left:10%;margin-right:10%;">
        {{ artreseauxsociaux.contenu }}
    </p>
    
    
    
{% endblock %}