{% extends "base_pages.html.twig" %}


{% block body %}
    <br>
    <h2 class="text-center" style="color:#262626;">
        <i class="fas fa-caret-right" style="color:#DA2525"></i> {{ artsite.titre }}
    </h2>
    <h5 class="text-center" style="color:#DA2525;font-style:italic;font-size: 17px;">publié par {{ artsite.auteur }}</h5>
    
    <p style="margin-top:100px;margin-left:10%;margin-right:10%;">
        {{ artsite.contenu }}
    </p>
    
    
    
{% endblock %}